<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <div class="row">
                    <h3>Customer ID:  {{id}}</h3>
                </div>
                <div class="row">
                    <h3>Account Number: {{acc_no}}</h3>
                </div>
                <div class="row">
                    <h3>Name: {{Name}}</h3>
                </div>
                <div class="row">
                    <h3>Email: {{Email}}</h3>
                </div>
                <div class="row">
                    <h3>Mobile Number: {{Contact}}</h3>
                </div>
                <div class="row">
                    <h3>Balance Amount: {{Balance}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
    

