<div class="container">
    <div class="row details">
        <div class="col-md-6">
            <div class=" user-details">
                <div class="row">
                    <h3>Customer ID:  {{id}}</h3>
                </div>
                <div class="row">
                    <h3>Account Number: {{acc_no}}</h3>
                </div>
                <div class="row">
                    <h3>Name: {{Name}}</h3>
                </div>
                <div class="row">
                    <h3>Email: {{Email}}</h3>
                </div>
                <div class="row">
                    <h3>Mobile Number: {{Contact}}</h3>
                </div>
                <div class="row">
                    <h3>Balance Amount: {{Balance}}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <div class="container">
                    <div class="row">
                      <div class="col-md-8 mx-auto">
                        <div class="card">
                          <div class="card-header">
                            <button class="buttons" pButton type="button" label="Add Balance" (click)="show=true" ></button>
                      
                            <button class="buttons" pButton type="button" label="Withdraw" (click)="show=false" ></button>
                          </div>
                          <div class="card-body">
                            <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    
                              <div class="form-group">
                                <label>Amount</label>
                                <input
                                  type="number"
                                  class="form-control"
              
                                  formControlName="amount"
                                  (input)="UserNameValue($event)"
                                  
                                />
                                <span
                                  class="text-danger"
                                  *ngIf="
                                    (registerFormControl.amount.touched || submitted) &&
                                    registerFormControl.amount.errors?.required
                                  "
                                >
                                   Enter Amount
                                </span>
                              </div>
                              
                              <div class="form-group">
                                <button type="submit" class="btn btn-success">Register</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
    

